:root {
    --grid-container: minmax(3rem, 1fr) minmax(0, 74rem) minmax(3rem, 1fr);
    --grid-container-small: 2rem 1fr 2rem;

    --color-primary: #191610;
    --color-secondary: #fff;
    --color-accent: #6CB472;
    --color-accent-dark: #468d4c;
    
    --font-primary: "Josefin Sans", sans-serif;
    --font-base: 18px;
    --font-scale: 1.25;
    --font-size-0: calc(var(--font-base) / var(--font-scale));
    --font-size-1: var(--font-base);
    --font-size-2: calc(var(--font-size-1) * var(--font-scale));
    --font-size-3: calc(var(--font-size-2) * var(--font-scale));
    --font-size-4: calc(var(--font-size-3) * var(--font-scale));
    --font-size-5: calc(var(--font-size-4) * var(--font-scale));
    --font-size-6: calc(var(--font-size-5) * var(--font-scale));
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}